{% for entry in include.ordered_entries %}
  <li class="col">
    <div class="card h-100">
      <a href="{{ entry.url | relative_url }}" class="d-block card-img-top">
        <img src="{{ '/assets/images/thumbnails/' | append: entry.number | append: '.jpg' | relative_url }}" class="h-100 w-100 {% if entry.nsfl %}nsfl{% endif %}">

        <div class="position-absolute top-0 start-0 m-3 hstack gap-2 align-items-start">
          <span class="badge rounded-pill text-dark bg-warning fs-6 fw-medium">#{{ entry.number }}</span>

          {% if entry.inconclusive %}
            <span class="badge rounded-pill bg-secondary fw-medium">Inconclusive</span>
          {% endif %}
        </div>

        {% if entry.nsfl %}
          <span class="position-absolute top-50 start-50 translate-middle badge bg-danger fs-5">NSFL</span>
        {% endif %}
      </a>

      <div class="card-body vstack justify-content-between">
        <h3 class="fs-6"><a href="{{ entry.url | relative_url }}" class="d-block link-light link-underline-opacity-25 link-underline-opacity-50-hover link-offset-2">{{ entry.caption }}</a></h3>
        <span class="text-muted small">{{ entry.date | date: "%d %b %Y" }}</span>
      </div>
    </div>
  </li>
{% endfor %}