---
---

$base-color: #102026;
$base-color-10: lighten($base-color, 10%);
$base-color-20: lighten($base-color, 20%);
$base-color-30: lighten($base-color, 30%);
$base-color-40: lighten($base-color, 40%);
$base-color-50: lighten($base-color, 50%);
$base-color-60: lighten($base-color, 60%);

body {
  background-color: $base-color;
  color: $base-color-30;
  font-family: monospace;
}

.hl {
  color: $base-color-50 !important;
}

.text-muted {
  color: $base-color-20 !important;
}

.link-secondary {
  color: $base-color-40 !important;

  &:hover {
    color: $base-color-50 !important;
  }
}

.border-secondary {
  border-color: $base-color-20 !important;
}

.smaller {
  font-size: 0.75rem;
}

.icon-link {
  height: 36px;
  width: 36px;
  background-color: $base-color-30;
  mask-position: center;
  mask-repeat: no-repeat;

  &.disabled {
    opacity: 0.5;
  }

  &:not(.disabled):hover {
    background-color: $base-color-40;
  }
}

.twitter-x {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-twitter-x' viewBox='0 0 16 16'%3E%3Cpath d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'/%3E%3C/svg%3E");
}

.arrow-left {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8'/%3E%3C/svg%3E");
}

.arrow-right {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-left' viewBox='0 0 16 16'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8'/%3E%3C/svg%3E%3C/svg%3E");
}

.card {
  background-color: $base-color-10;

  .card-img-top {
    height: 10rem;
    overflow: hidden;
    position: relative;

    img {
      object-fit: cover;
  
      &.nsfl {
        filter: blur(5px);
      }
    }
  }

  .text-muted {
    color: $base-color-30 !important;
  }

  h3 {
    line-height: 140%;
  }

  &:hover {
    .bg-warning {
      background-color: #fff !important;
    }
  }
}