---
layout: default
title: page.number
---

<div class="row justify-content-center mb-4">
  <div class="col-12 col-lg-8 col-xl-7">
    <div class="vstack align-items-start gap-2 mb-3">
      <div class="hstack justify-content-center gap-3 mb-2">
        {% assign prev_entry_num = page.number | minus: 1 %}
        {% assign prev_entry = site.entries | where: "number", prev_entry_num | first %}
        <a {% if page.number > 1 %}href="{{ prev_entry.url | relative_url }}"{% endif %} class="icon-link arrow-left {% if page.number == 1 %}disabled{% endif %}"><span class="visually-hidden-focusable">Previous</span></a>
        
        <span class="badge rounded-pill bg-warning text-dark fs-5 fw-medium">#{{ page.number }}</span>
        
        {% assign entries_count = site.entries | size %}
        {% assign next_entry_num = page.number | plus: 1 %}
        {% assign next_entry = site.entries | where: "number", next_entry_num | first %}
        <a {% if page.number < entries_count %}href="{{ next_entry.url | relative_url }}"{% endif %} class="icon-link arrow-right {% if page.number == entries_count %}disabled{% endif %}"><span class="visually-hidden-focusable">Next</span></a>
      </div>
    
      <h1 class="hl fs-5">{{ page.caption }}</h1>
    
      <div class="text-muted small">
        {% if page.inconclusive or page.comment %}
          <p class="mb-2"></p>
            {% if page.inconclusive %}
              <span class="d-inline-block align-text-bottom badge rounded-pill text-bg-secondary fw-medium">Inconclusive</span>
            {% endif %}
            {% if page.comment %}
              {{ page.comment }}
            {% endif %}
          </p>
        {% endif %}
        <div class="hstack gap-3">
          <p>
            Date:
            <span class="fw-semibold hl">{{ page.date | date: "%d %b %Y" }}</span>
          </p>
          {% if page.location %}
            <p>
              Location:
              <span class="fw-semibold hl">{{ page.location }}</span>
            </p>
          {% endif %}
          </div>
        {% if page.unit %}
          <p>
            Filmed by:
            <span class="fw-semibold hl">{{ page.unit }}</span>
          </p>
        {% endif %}
        {% if page.source or page.timecode %}
          <p class="hstack gap-3">
            {% if page.source %}
              <a href="{{ page.source }}" target="_blank" class="link-light link-underline-opacity-25 link-underline-opacity-50-hover link-offset-2">Source</a>
            {% endif %}
            {% if page.timecode %}
              Timecode:
              <span class="fw-semibold hl">{{ page.timecode }}</span>
            {% endif %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{{ page.content }}